/.vs/CK3ScriptEditor/DesignTimeBuild/.dtbcache.v2
/.vs/CK3ScriptEditor/v16/.suo
/DarkUI-master/todo.txt
/JominiParse/bin/Debug/netstandard2.0/JominiParse.deps.json
/JominiParse/bin/Debug/netstandard2.0/JominiParse.dll
/JominiParse/bin/Debug/netstandard2.0/JominiParse.pdb
/JominiParse/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/JominiParse/obj/Debug/netstandard2.0/JominiParse.AssemblyInfo.cs
/JominiParse/obj/Debug/netstandard2.0/JominiParse.AssemblyInfoInputs.cache
/JominiParse/obj/Debug/netstandard2.0/JominiParse.assets.cache
/JominiParse/obj/Debug/netstandard2.0/JominiParse.csproj.CoreCompileInputs.cache
/JominiParse/obj/Debug/netstandard2.0/JominiParse.csproj.FileListAbsolute.txt
/JominiParse/obj/Debug/netstandard2.0/JominiParse.csprojAssemblyReference.cache
/JominiParse/obj/Debug/netstandard2.0/JominiParse.dll
/JominiParse/obj/Debug/netstandard2.0/JominiParse.pdb
/JominiParse/obj/JominiParse.csproj.nuget.dgspec.json
/JominiParse/obj/JominiParse.csproj.nuget.g.props
/JominiParse/obj/JominiParse.csproj.nuget.g.targets
/JominiParse/obj/project.assets.json
/JominiParse/obj/project.nuget.cache
/bin/Debug/CK3ScriptEditor.exe
/bin/Debug/CK3ScriptEditor.exe.config
/bin/Debug/CK3ScriptEditor.pdb
/bin/Debug/DarkUI.dll
/bin/Debug/DarkUI.pdb
/bin/Debug/ICSharpCode.TextEditor.dll
/bin/Debug/ICSharpCode.TextEditor.pdb
/bin/Debug/JominiParse.dll
/bin/Debug/JominiParse.pdb
/bin/Debug/format.xshd
/bin/Release/CK3ScriptEditor.exe
/bin/Release/CK3ScriptEditor.exe.config
/bin/Release/CK3ScriptEditor.pdb
/bin/Release/DarkUI.dll
/bin/Release/DarkUI.pdb
/bin/Release/ICSharpCode.TextEditor.dll
/bin/Release/ICSharpCode.TextEditor.pdb
/bin/Release/JominiParse.dll
/bin/Release/JominiParse.pdb
/bin/Release/format.xshd
/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/obj/Debug/CK3ScriptEditor.CK3ScriptEd.resources
/obj/Debug/CK3ScriptEditor.CloneToModDialog.resources
/obj/Debug/CK3ScriptEditor.FileOverviewToolWindow.resources
/obj/Debug/CK3ScriptEditor.IntellisenseDlg.resources
/obj/Debug/CK3ScriptEditor.ProjectExplorer.resources
/obj/Debug/CK3ScriptEditor.Properties.Resources.resources
/obj/Debug/CK3ScriptEditor.ScriptObjectExplorer.resources
/obj/Debug/CK3ScriptEditor.ScriptWindow.resources
/obj/Debug/CK3ScriptEditor.csproj.CopyComplete
/obj/Debug/CK3ScriptEditor.csproj.CoreCompileInputs.cache
/obj/Debug/CK3ScriptEditor.csproj.FileListAbsolute.txt
/obj/Debug/CK3ScriptEditor.csproj.GenerateResource.cache
/obj/Debug/CK3ScriptEditor.csprojAssemblyReference.cache
/obj/Debug/CK3ScriptEditor.exe
/obj/Debug/CK3ScriptEditor.pdb
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/baseData.dat
/bin/Debug/DevIL.NET2.dll
/bin/Debug/FSharp.Core.dll
/bin/Debug/FSharp.Core.xml
/bin/Debug/cs/FSharp.Core.resources.dll
/bin/Debug/de/FSharp.Core.resources.dll
/bin/Debug/en/FSharp.Core.resources.dll
/bin/Debug/es/FSharp.Core.resources.dll
/bin/Debug/fr/FSharp.Core.resources.dll
/bin/Debug/it/FSharp.Core.resources.dll
/bin/Debug/ja/FSharp.Core.resources.dll
/bin/Debug/ko/FSharp.Core.resources.dll
/bin/Debug/pl/FSharp.Core.resources.dll
/bin/Debug/pt-BR/FSharp.Core.resources.dll
/bin/Debug/ru/FSharp.Core.resources.dll
/bin/Debug/tr/FSharp.Core.resources.dll
/bin/Debug/zh-Hans/FSharp.Core.resources.dll
/bin/Debug/zh-Hant/FSharp.Core.resources.dll
/obj/Debug/CK3ScriptEditor.EventPreviewForm.resources
/obj/Debug/CK3ScriptEditor.EventRepresentation.resources
/scopesforeffects.txt
